<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Bartender" type="Pimax.FactoryTool.KingdeePrinter.Models.BartenderSection, KingdeePrintTool" />
    <section name="BindingCheck" type="System.Configuration.NameValueSectionHandler" />
	<section name="KNGenerator" type="System.Configuration.SingleTagSectionHandler"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--<add name="DbRepository" connectionString="Server=192.168.10.16;Database=TESTAdmin;User Id=sa;Password=pimax@202305;Connection Timeout=5;" providerName="System.Data.SqlClient" />-->
    <add name="DbRepository" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=TESTAdmin;Integrated Security=True;Connect Timeout=5;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ProductModel" value="P3C9" />
    <!--Alps,F1-H,F1-C,H0,H1,F0,配件,其他-->
    <add key="ProductType" value="Alps" />
    <!--SMT,模组,ASS,其他-->
    <add key="ProcessStep" value="ASS" />
    <!--EVT,DVT,PVT,MP-->
    <add key="ProcessStage" value="MP" />
    <!--站点编号，打印站点：Package_LabelPrint 包装站点：Package_FinalOQC-->
    <add key="Workstation" value="Package_LabelPrint" />
    <add key="BindingType" value="整机SN-金蝶KN" />
    <add key="PimaxClientId" value="c_d6e58909ffd04a54a589" />
    <add key="PimaxClientSecret" value="a34b3bdec39247f8a747da88a5f3181c" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <!--Bartender打印标签模板配置在下面-->
  <!--productCode是产品料号，labelName是标签模板，标签文件放到程序根目录Labels子文件夹下，-->
  <Bartender>
    <labels>
      <label productCode="PVH00010168" labelName="Crystal_(P3C9)_1.btw" />
      <label productCode="PVH00010169" labelName="Crystal_(P3C9)_1.btw" />
      <label productCode="PVH00010170" labelName="Crystal_(P3C9)_1.btw" />
      <label productCode="PVH00010171" labelName="Crystal_(P3C9)_1.btw" />
      <label productCode="PVH00010173" labelName="Crystal_(P3C9)_1.btw" />
      <label productCode="PVH00010174" labelName="Crystal_(P3C9)_1.btw" />
      <label productCode="PVH00010175" labelName="Crystal_(P3C9)_1.btw" />
      <label productCode="PVH00010176" labelName="Crystal_(P3C9)_1.btw" />
    </labels>
  </Bartender>
  <!--KN码自动生成配置：StartCode是起始条码，TerminusCode是终止条码，Increment是自动递增数量-->
  <KNGenerator StartCode="PV1106MPQ1491800280" TerminusCode="PV1106MPQ1491800500" Increment="10"/>
  <!--需要校验的绑定关系配置在下面，value需要和数据库表MaterialType对应起来-->
  <BindingCheck>
    <add key="金蝶KN" value="整机SN-金蝶KN" />
    <add key="左手柄SN" value="整机SN-左手柄" />
    <add key="右手柄SN" value="整机SN-右手柄" />
  </BindingCheck>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="libs" />
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>